# Results of testing kibble in Pet Tutor Mini



**Open in Google Docs (editable)** → [Kibble test results](https://docs.google.com/spreadsheets/d/1Jjmwx9EtroDBZK3UN8GiRwEKW_PLVF-9acC-SBAR-ZY/edit?gid=0#gid=0)


