# Results of testing kibble in Pet Tutor Mini

## [Test Results](https://docs.google.com/spreadsheets/d/e/2PACX-1vQd1KaqEMlKHC2c9Lk1LbxcFb_FHX_vzLPKAauXptFmlkiEasJjgRgIwaQ87ky0cLkWXTT3QA4kNtl7/pubhtml) for various kibble run through the Pet Tutor Mini


## previous testing by Orion [Results](https://docs.google.com/spreadsheets/d/1xcsUrdL4sDvqtHj7MoL4mm_9uoodcY0e_STNOEuZV90/edit?gid=0#gid=0)

| test # | Date tested | Food | # cycles tested | # Jams | # Zero dispensed | Comments | Tested by |
|---:|---|---|---:|---:|---:|---|---|
| 1 |  |  |  |  |  |  |  |
| 2 |  |  |  |  |  |  |  |
| 3 |  |  |  |  |  |  |  |
| 4 |  |  |  |  |  |  |  |
| 5 |  |  |  |  |  |  |  |
| 6 |  |  |  |  |  |  |  |
| 7 |  |  |  |  |  |  |  |
| 8 |  |  |  |  |  |  |  |
| 9 |  |  |  |  |  |  |  |
| 10 |  |  |  |  |  |  |  |
| 11 |  |  |  |  |  |  |  |
| 12 |  |  |  |  |  |  |  |
| 13 |  |  |  |  |  |  |  |
| 14 |  |  |  |  |  |  |  |
| 15 |  |  |  |  |  |  |  |
| 16 |  |  |  |  |  |  |  |
| 17 |  |  |  |  |  |  |  |
| 18 |  |  |  |  |  |  |  |
| 19 |  |  |  |  |  |  |  |
| 20 |  |  |  |  |  |  |  |
| 21 |  |  |  |  |  |  |  |
| 22 |  |  |  |  |  |  |  |
| 23 |  |  |  |  |  |  |  |
| 24 |  |  |  |  |  |  |  |
| 25 |  |  |  |  |  |  |  |
| 26 |  |  |  |  |  |  |  |
| 27 |  |  |  |  |  |  |  |
| 28 |  |  |  |  |  |  |  |
| 29 |  |  |  |  |  |  |  |
| 30 |  |  |  |  |  |  |  |
